* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://cdn.hovia.com/app/uploads/whitewash-wood-texture-plain-820x532.jpg);
}

img {
    max-width: 100%;
}

button {

    height: 25px;
    border-radius: 6px;
    margin-left: 10px;
    background-color: burlywood;
    border-radius: burlywood;
    cursor: pointer;
}

#app {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 60px;
}

.doneTask {
    text-decoration: line-through;
    background-color: burlywood;
    border-radius: 5px 15px 5px 15px;
}

.newtask {
    margin-bottom: 20px;
    width: 100%;
}


.newTask button {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

input {
    width: 320px;
}

.taskContainer ul {
    width: 400px;
    list-style-type: none;
    text-align: left;
    background-image: url(https://media.gettyimages.com/id/116772376/photo/notepad-to-do-list-get-things-done.jpg?s=612x612&w=gi&k=20&c=4Xie-2oANu7Na0ZWrzdhG5y0eoFZjh-hKHnaGDt-qsM=);
    background-size: cover;
    object-fit: cover;
    padding: 25px;
    border-radius: 10px;
}

.taskContainer ul li {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.taskContainer ul li button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
}